@using System.Linq
@model List<Shaun_Faulkner_ST10034664_PROG6212_POE.Models.Claim>

@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>Claims Dashboard</title>
</head>
<body>
    <h1>Welcome, @Context.Session.GetString("LecturerName")!</h1>

    <h2 class="dashboard-title">My Claims</h2>


        <table class="claims-table">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Hours Worked</th>
                    <th>Hourly Rate</th>
                    <th>Submission Date</th>
                    <th>Status</th>
                    <th>Total Amount Payable</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in Model)
                {
                    <tr>
                        <td>@claim.ClaimId</td>
                        <td>@claim.HoursWorked</td>
                        <td>@claim.HourlyRate</td>
                        <td>@claim.SubmissionDate</td>
                        <td>@claim.Status</td>
                        <td>R @claim.TotalAmount</td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-controller="Claim" asp-action="SubmitClaim">Submit New Claim</a>

    <p>You are logged in</p>
    <a asp-controller="Lecturer" asp-action="Logout">Logout</a>


    <p class="back-to-home"><a href="/Home/Index">Back to Home</a></p>
</body>
</html>
